

# current directory
__DIR__=$(cd $(dirname ${BASH_SOURCE[0]}) && pwd)

# it is assumed that dingle is installed at the same level
export DINGLE_BASE_PATH=$(cd $__DIR__/../clean && pwd)


export PERL5LIB="$DINGLE_BASE_PATH/vendor/lib/perl5:$PERL5LIB"
PERL5LIB="$DINGLE_BASE_PATH/lib:$PERL5LIB"

export DINGLE_CONFIG_PATH=$__DIR__/config
export DINGLE_DEV_START=$(date)

alias dingle=$DINGLE_BASE_PATH/bin/dingle
